ViewData["Title"] = "Home Page";

<div class="h-100 row align-items-center">
      <h1 class=" display-3">Welcome to the online forum</h1>
      <p class="lead">    This is the spot where you can either share enjoyable winter experiences or obtain ideas about where to go and what to do to create new ones.</p>
</div>